html, body, #root {
	height: 100%;
	/* font-size: 20px; */
}
 
#root {
	min-height: 100%;
	/* display:flex;
	flex-direction: column; */
} 

.main {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.flex-container {
	height: 100%;
	flex: 1 0 auto;
}

.hide {
	display: none;
}

.active{
	color:white;
}

/* footer.page-footer{
	flex-shrink: 0;
} */